.infoBox {
    flex: 1;
    cursor: pointer;
}

.infoBox:hover {
    background-color: rgb(238, 238, 221);
}

.infoBox:not(:last-child) {
    margin-right: 15px;
}

.infoBox__cases {
    font-weight: 600;
    font-size: 1.75rem;
    margin-bottom: 0.5rem;
}

.infoBox__total {
    font-weight: 700 !important;
    margin-top: 5px !important;
    font-size: 0.8rem !important;
} /* important! overrides material ui */

.infobox2 {
    color: cadetblue !important;
    font-weight: 600;
    font-size: 1.75rem;
    margin-bottom: 0.5rem;
}

.infoBox--selected {
    border-bottom: 10px solid rgb(238, 238, 221);
}

.infoBox--green {
    color: #b6ca7e !important;
}

.infoBox--orange {
    color: #d19c4c !important;
}